#1 {
    color: red;
}

#2 {
    color: green;
}

#3 {
    color: white;
}

#4 {
    color: blue;
}

#6 {
    color: purple;
}

#7 {
    color: black;
}

#8 {
    color: grey;
}

#9 {
    color: beige;
}

#10 {
    color: yellow;
}